/* ------- Init ------- */
*, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--white) !important;
}

/* Style scrollbar */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--title_color);
}

/* Stylisation des différentes balises qui ne changera pratiquement pas */
h1, h2 {
    font-family: Dm_Serif_Display;
    color: var(--title_color);
    font-weight: normal;
    font-size: 3.7rem;
}
h1 {
    font-size: 5rem;
    font-family: Chonburi;
    max-width: 99%;
}
h3 {
    font-size: 1.9rem;
    color: var(--text-color);
    font-family: DM_Serif_Display;
    font-weight: normal;
}

h4 {
    font-family: SegoeUI_Bold;
    font-size: 1.2em;
    color: var(--title_color);
    text-transform: uppercase;
}
p {
    font-family: SegoeUI;
    color: var(--text-color);
    font-size: 1.1rem;
}

button {
    position: relative;
    border: medium solid var(--title_color);
    background-color: transparent;

    font-family: SegoeUI_Bold;
    color: var(--title_color);
    font-size: 1.2rem;
    
    display: flex;
    align-items: center;

    padding: 0 0.3em 0 1em;
    cursor: pointer;
    margin-top: 1em;
    overflow: hidden;
    z-index: 1;
}
button>img {
    margin-left: 0.8em;
    margin-top: 0.4em;
    width: 3em;
    height: 2em;
    object-fit: none;
    z-index: 1;
    overflow: hidden;
}

/* Animation sur le survol du boutton */
button::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    width: 0;
    background-color: var(--title_color);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
      
button:hover::before {
    width: 100%;
}
button:hover {
    color: var(--white);
}
button:hover>img {
    mix-blend-mode:color-dodge;
    animation: bounce_vertically 2s infinite;
}


/* Animations */
@keyframes bounce_horizontally {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-1.9em);
    }
    60% {
      transform: translateY(-0.9em);
    }
}

@keyframes bounce_vertically {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-0.5em);
    }
    60% {
      transform: translateX(0.1em);
    }
}
/* ------- END Init ------- */


/* ------- Fonts ------- */
@font-face {
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
    font-family: DM_Serif_Display;
}
@font-face {
    src: url(../fonts/Inter-Regular.ttf);
    font-family: Inter;
}
@font-face {
    src: url(../fonts/Chonburi-Regular.ttf);
    font-family: Chonburi;
}
@font-face {
    src: url(../fonts/Segoe\ UI.woff);
    font-family: SegoeUI;
}
@font-face {
    src: url(../fonts/Segoe\ UI\ Bold.woff);
    font-family: SegoeUI_Bold
}
/* ------- END Fonts ------- */


/* ------- Couleurs ------- */
:root {
    --main: #E7D9DA; 
    --secondary:#DBA1A1;
    --white: #F3F0F1;
    --title_color: #C75B64;
    --text-color: #3F1417;
    --input-color: #8C7072;
}
/* ------- END Couleurs ------- */




/* ------- Header ------- */
header {
    height: 5.8em;
    padding: 1em 0;
}
header > img {
    position: absolute;
}
header > *:nth-child(1) {
    top: 1.25em;
    left: 2.5em;
    
    width: 3.7em;
}
header > *:nth-child(3) {
    top: 2.2em;
    right: 2.5em;
    cursor: pointer;

    width: 2.5em;
}
header > nav {
    text-align: center;
}
header > nav > ul {
    list-style: none;
}
header > nav > ul > li {
    text-transform: uppercase;
    display: inline-block;
    margin: 1.5em 1em;
}
header > nav > ul > li > a {
    text-decoration: none;
    color: var(--text-color);

    font-family: Inter;
    font-size: 1.4rem;
    
    position: relative;
}
header > nav > ul > li > a:hover::before {
    width: 100%;
}
header > nav > ul > li > a::before {
    content: "";
    display: block;
    transition: width .4s ease;

    position: absolute;
    bottom: -0.2em;

    border-radius: 6.2em;
    width: 0;
    height: 0.2em;
    background-color: var(--title_color);
}
header > ul {
    display: none;

    position: absolute;
    right: 3em;
    top: 90px;

    list-style: none;
    font-family: Inter;    
}
header > ul > li {
    font-size: 1.4em;
}
/* ------- END Header ------- */




/* ------- Main ------- */
#home_body {
    background: url(../img/background_home.png);
    background-repeat: no-repeat;
    background-position: top -3em right 0;
}


/**** PAGE 1 - Accueil ****/
/* HOME*/ 
#home {
    display: flex;
    justify-content: center;
    align-items: center;

    
    padding-bottom: 8em;
    padding-left: 5em;
}
#description_ofme {
    margin-right: -5em;
}

/* Décorations vectorielles */
img#scroll {
    display: block;
    margin: 3em auto;
    animation: bounce_horizontally 2s infinite;
}

img.ligne_vectorielle {
    position: absolute;
    top: 25vh;
}

/* SKILLS */
#skills {
    height: 53em;
    margin-top: 15em;
    margin-left: 23%;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#skills > *:nth-child(odd) {
    width: 37em;
}
#skills > *:nth-child(even) {
    width: 29em;
    margin-left: 46%;
    margin-bottom: 2em;
}
.icon {
    margin-top: 1em;
}
.icon>img {
    padding-right: 0.4em;
}

/* LIFE */
#life_background {
    background-color: var(--main);
    width: 46%;
    position: absolute;
    padding: 27%;
    z-index: -1;
}
#life {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 8em;
    margin-top: 7em;
}
#life>div:nth-child(odd) {
    width: 32em;
    margin-right: -8em;
}
#life>div:nth-child(odd)>p>a {
    color: var(--title_color);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 0.1em solid;
}

/* WORK */
#work {
    background-color: #FFF;
    width: 58%;
    display: flex;
    margin: 19em 0 13em 23em;
    padding: 6em 0 8em 6em;
}
#work button {
    margin-top: 4vh;
}
#ligne_verticale {
    border-left: 3px solid var(--title_color);
    display: inline-block;
    height: 23em;
    margin: 9px 32px -38px -7px;
}
#work p {
    margin-top: 1vh;
}




/**** PAGE 2 - Projets/Designs ****/
/* BOUTON */
button.seemore {
    padding: 2px 7px;
    font-size: 11px;
}

button.seemore>img {
    width: 3.2em;
    height: 2.4em;
}

/* DECORATION */
img.ligne_vectorielle2 {
    position: absolute;
    top: 3vh;
    right: 0;
}

img.rectangle {
    position: absolute;
    width: 13%;
}

/* Details d'un projet */
.pop-up {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--main);
    top: 0;
    z-index: 99;

    display: grid;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    text-align: center;
    top: 16px;
    color: var(--title_color);
    border: 2px solid var(--title_color);
    border-radius: 100%;
    padding: 2px 22px;
    cursor: pointer;
    font-size: 4em;
}

.pop-up>div {
    display: flex;
    justify-content: center;
}

.pop-up>div>.contenu_projet {
    width: 30%;
    margin-left: 4em;
}

.contenu_projet>h4 {
    margin-top: 8px;
}

.contenu_projet li {
    list-style-type: none;
    font-family: SegoeUI;
    color: var(--text-color);
    font-size: 1.1rem;
}

img.image_visuel {
    width: 55vh;
}


/* PROJETS */
.container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 41vh;
    margin-bottom: 4vh;
}
.card {
    background-color: #FFF;
    width: 26%;
    margin: 0 0 3vh 0;
    padding: 0 0 0vh 0;
}
.image {
    display: flex;
    max-width: 100%;
    max-height: 53%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.card img {
    max-width: 100%;
}
.description {
    padding: 14px 0 0 19px;
}

.flex_right {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
}

/* DESIGNS */
#designs {
    margin-top: 3vh;
}

.projets>h2, #designs>h2 {
    text-align: center;
}
.projets>h3, #designs>h3 {
    text-align: center;
    margin-bottom: 4vh;
}


/**** PAGE 3 - Contact ****/
/* DECORATIONS */
img.ligne_vectorielle3 {
    position: absolute;
    left: -11px;
}

/* ENVOYER MESSAGE */
#contact>footer {
    position: absolute;
    bottom: 0;
    width: 98%;
}

#message {
    margin: 7.2vh 0;
}
#description_message {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#description_message>h3 {
    max-width: 50%;
    text-align: center;
    margin-bottom: 4vh;
}

form#formulaire {
    margin: 0 34%;
}

#formulaire>div:nth-child(even) {
    margin-top: 4vh;
}

label {
    font-family: SegoeUI_Bold;
    color: var(--text-color);
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1em;
}

input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--title_color);
    padding: 10px 10px;
    width: 90%;
}

textarea {
    width: 95%;
    height: 7vh;
    resize: none;
    font-family: SegoeUI;
}
textarea::placeholder {
    color: var(--input-color);
}

#name, #email {
    width: 90%;
    margin: 10px;
}

.inline {
    display: flex;
}

button[type="submit"] {
    margin: 3vh auto;
} 
/* ------- END Main ------- */




/* ------- Footer ------- */
footer {
    padding: .3em 1em;
    height: 33px;

    background-color: var(--title_color);
    color: var(--white) !important;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Inter;
    font-size: 1.2rem;
}
/* ------- END Footer ------- */